@model FoodyTekmerEntityLayer.Concreate.Category

@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<link href="~/lib\bootstrap\dist\css\bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <h2 class="h2 text-center">Kategori Ekle</h2>

<form method="post">
    <div class="form-group">
            <label for="CategoryName" class="col-sm-2 col-form-label">Kategori Adı</label>
        <div class="col-sm-12">
                <input type="text" asp-for="CategoryName" class="form-control" placeholder="Kategori Adı">
        </div>
    </div>
   
    <div class="form-group row mt-4">
        <div class="col-sm-12 d-flex justify-content-center">
            <button type="submit" class="w-50 btn btn-primary">Ekle</button>
        </div>
    </div>
</form>
</div>
